body {
  background-color: #010a0f;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  color: #ffbc0e;
}

.center-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header__nav__item {
  margin: 0 10px;
}

.header__nav__search {
  margin: 0 10px;
  color: white;
}
