@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  min-height: 100vh;
  height: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,select {
  font-family: 'Bebas Neue';
}
